*{
    margin:0%;
    padding: 0%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: black;
}
ul,li,h1, li a{
    display: inline;
    padding: 15px;
}
li a:hover{
    background: blue;
    color: aliceblue;
    cursor: pointer;

}
.cointainer{
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    margin: 10px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-between;
}
.row2 , .row1{
    width: 50%;
}s
.row2 img{
    width: 100%;
}
.row11{
    margin-bottom: 50px;

}
.row12{
    width: 70%;
}

#box1{
    padding: 0px;
    color: rgb(72, 72, 227);
}
.row11 , .row12{
    margin-bottom: 30px;
}
.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    

}
.service-box{
    width: 20%;
    height: fit-content;
    background-color: rgb(224, 212, 212);
    padding: 20px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 20px rgb(0, 9, 6);
}
.contact-container{
    display: flex;

}
/*contact style*/



.contact-container{
    display: flex;
    justify-content: space-between;
}

 
.footer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: azure;
    color: blueviolet;
    cursor: pointer;
    bottom: 0%;
}
